.hy-sector {
    position: relative;
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(218, 241, 255);
}

.hy-sector-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hy-sector-left {
    clip: rect(0, 2.5rem, 5rem, 0);
}

.hy-sector-right {
    clip: rect(0, 5rem, 5rem, 2.5rem);
}

.hy-sector-hidden {
    visibility: hidden;
}

.hy-sector-bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1.25rem solid rgb(69, 184, 255);
    border-radius: 50%;
}


/*数字*/

.hy-sector-num {
    font-size: .857rem;
    line-height: 2.5rem;
    position: absolute;
    top: 1.25rem;
    background-color: #fff;
    border-radius: 50%;
    left: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    color: #afafaf;
}

.hy-sector-percent {
    font-size: 1.143rem;
    color: #454343;
}
